#----------------------
# The URL to the backend
# (must include HTTP(s) and must not include a "/" suffix).
#----------------------
VITE_BACKEND_URL=

#---------------------
# Application Configuration
# These are all the configuration that will determine the general
# appearance of the website.
#---------------------
VITE_APP_NAME=

#-----------
# SEO Meta Information
#
# These will be displayed on the SEO Opengraph tags to show up in websites
# embeds such as Discord and Google. This will show up for all pages except
# for /posts/:id and the creator dashboard routes.
#-----------
VITE_SEO_TITLE=
VITE_SEO_IMAGE=
VITE_SEO_COLOR=#fff
VITE_SEO_DESCRIPTION=

VITE_FAVICON=


# Sveltekit's Node Adapter recommends adding a ORIGIN variable to help Sveltekit
# identify what the origin is since HTTP can be unreliable.
#
# This is your site's domain if you are using a domain like https://blog.mihou.pw
#
# https://github.com/sveltejs/kit/tree/master/packages/adapter-node#origin-protocol_header-and-host_header
# ORIGIN=